.btn-radio {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  background: #ffa500;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease;
}

input[type="radio"]:checked + .btn-radio {
  background: rgb(225, 146, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  transform: scale(0.96);
}

.btn-radio:hover {
  background: rgb(225, 146, 0);
  color: rgb(255, 255, 255);
}
