/* === ESTILOS DE COURSE PAGE (ACCORDION) === */

.accordion-button::after {
  filter: invert(1); /* hace la flecha blanca */
}

.accordion-button {
  font-weight: bold;
}

.accordion-item {
  border: none;
}

.accordion-body a {
  color: #fff;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

.accordion-body a:hover {
  text-decoration: underline;
}

.cont-principal {
  width: x;
}

.accordion-body a:hover {
  text-decoration: underline;
}
