.seccion {
  height: 100px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  color: inherit;
  gap: 6px;
}

.subseccion {
  height: 60px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 30px;
  text-decoration: none;
  color: inherit;
  gap: 6px;
  transition: 0.2s;
  background-color: #f8f9fa;
  overflow: hidden;
  animation: slideDown 0.1s ease-out;
  transform-origin: top;
}


@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
  }
}

.seccion:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.subseccion:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.activo{
  box-shadow: inset 3px 0 0 #007bff;
}



.opciones button{
  background-color: transparent;
  width: 100%;
}

.Contenedor-barra{
  box-sizing: border-box;
  border: solid 1px #ddd;
  height: 700px;
  background: #fff;
}