
.seccion {
  height: 100px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  color: inherit;
  gap: 6px;
}

.seccion:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.activo{
  box-shadow: inset 3px 0 0 #007bff;
}

.relleno{
  height: 300px;
  box-sizing: border-box;
  box-shadow: 2px 0 4px rgb(0 0 0 / 15%);
}

.no_activo{
  box-shadow: 2px 0 4px rgb(0 0 0 / 15%);
}