.TituloCurso{
  font-size: 1.5rem;
  font-weight: bold;
}

.precio-tachado {
  position: relative;
  display: inline-block;
  color: #6c757d !important;
  font-size: 1.2rem;
  margin: 0;
  padding: 5px 4px;
}

.precio-tachado::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: #dc3545; 
  transform: rotate(-15deg); 
  transform-origin: center;
  opacity: 0.9;
}
