
    .accordion-button {
      font-weight: bold;
    }

    .accordion-item {
      border: none;
      border-bottom: 1px solid #444; /* línea divisoria entre módulos */    
    }

    .accordion-body a {
      color: #fff;
      display: block;
      padding: 5px 0;
      text-decoration: none;
      border-bottom: 1px solid #444; /* línea divisoria entre clases */
    }

    .accordion-body a:hover {
      text-decoration: underline;
    }

    .accordion-header {
      background-color: transparent;
    }


  .cont-principal{
    width: x;
  }