


.sidebar {
  height: 100%;
}


.accordion-button::after {
  filter: invert(1); 
}

.accordion-button {
  font-weight: bold;
}


.accordion-body a {
  color: #fff;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

.accordion-body a:hover {
  text-decoration: underline;
}


