.seccion-footer{
border-top: 1px solid #000000;
background-color: orange;
color: #000000;
padding: 20px 20px;
margin-top: auto;
box-shadow: 0 2 10px 1px #0007;
}

.iconos-redes-sociales a{
margin: 10px;
margin-bottom: 30px;
transition: all 0.2s ease-in;
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%; 
padding: 2px;
border: 2px solid #000000;
}

.iconos-redes-sociales i{

color: #000000;
font-size: 1.5rem;
transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
background-color: #000000;
cursor: pointer;
border: 2px solid #000000;
}

.iconos-redes-sociales a:hover i{
color: orange;
transform: translateY(-2px); 
}

.texto-footer{
color: rgb(0, 0, 0);
text-decoration: none;
list-style: none; 
padding: 0;
text-align: left
}