.foto-preview {
  height: 90px !important;
  width: 90px !important;
  cursor: default !important;
}

.modal-body .informacion-prof {
  margin: 20px auto;
  text-align: justify;
  width: 95%;
  height: auto;
  background-color: #f1f8ff; 
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #90caf9; 
}


.contenedor-modal {
  min-width: 50%;
}

.fecha-preview {
  padding: 0 20px 10px 20px;
}

.nombre {
  padding-top: 6px;
  font-weight: bold;
  font-size: 1.5em !important;
  color: #0d47a1; 
}

.frase {
  font-style: italic;
  font-size: 1rem !important;
  color: gray;
}

.contenedor-modal a {
  font-weight: lighter;
  font-size: 1.15rem !important;
  color: #42a5f5; /* Azul intenso */
}

.boton-cerrar {
  font-size: 1.4rem;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
