.accordion-button {
  font-weight: bold;
}

.accordion-header { 
  border: none;
  border-bottom: 1px solid #444; 
}

.clase-item {
  color: #fff;
  display: block;
  padding: 5px 0;
  text-decoration: none;
  border-bottom: 1px solid #444; 
}

.accordion-body a:last-child {
  border-bottom: none; 
}

.accordion-body a:hover {
  text-decoration: underline;
}

.accordion-header {
  background-color: transparent;
}


.cont-principal{
  width: x;
}

.titulo {
  display:inline;
}

.titulo-corto {
  display: none;
}

h6.noClicked {
  color: white;
}

h6.clicked {
  color: orange;
}

i.completado {
  color: orange;
}

i.noCompletado {
  color: white;
}

/* responsive */

@media (max-width: 768px) {
  .titulo {
		font-size: 0.75rem !important; 
	}
}


@media (max-width: 600px) {
  .titulo {
		display: none; 
	}
	.titulo-corto {
		display: inline; 
	}
	.accordion-button {
		padding: 5px 8px 5px 5px !important; 
		font-size: 14px !important; 
	}
	.accordion-body {
		padding: 10px !important; 
	}
	.nombre-clase {
		font-size: 0.75rem !important; 
	}
}
  

.clase-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}