/* === LAYOUT PRINCIPAL DE LA APLICACIÓN === */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #f5f5dc;
}

/* Bootstrap overrides específicos para layout */
.container-fluid {
  flex: 1;
  display: flex;
  --bs-gutter-x: 0 !important; /* Elimina el padding horizontal */
}

.row {
  flex: 1;
  display: flex;
  --bs-gutter-x: 0 !important; /* Elimina el padding horizontal */
}

/* ============================================
   ESTILOS GENERALES
   ============================================ */

.main {
  background-color: #56565617;
}

.header {
  box-shadow: 0 2 10px 1px #0007;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0px;
  text-align: center;
}
