.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #56565617;
}

.container-fluid {
  flex: 1;
  display: flex;
  --bs-gutter-x: 0 !important;
}

.row {
  flex: 1;
  display: flex;
  --bs-gutter-x: 0 !important;
}

.header {
  box-shadow: 0 2 10px 1px #0007;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0px;
  text-align: center;
}
