.fondo-sobre-nosotros {
  background-image: url("./fondoContacto.jpg");
  padding: 3rem 0;
}

.sobre-nosotros-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-nosotros-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.sobre-nosotros-container h2 {
  font-size: 2rem;
  margin-top: 20px;
  color: #007bff;
}

.sobre-nosotros-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}
